name: Publish

on:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs:
      version:
        description: 'Version tag to publish'
        required: false

permissions:
  contents: read
  packages: write

jobs:
  released:
    uses: openkcm/build/.github/workflows/publish.svc.yaml@fix/release-process
    with:
      image_signing_enabled: true
      ocm_signing_enabled: true
      build_push_composite_enabled: true
    secrets: inherit
