name: New Release (Manual Trigger)

on:
  workflow_dispatch:

permissions:
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - name: Generate token from GitHub App
        id: generate-token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.APP_PUSH_TAG_ID }}
          private_key: ${{ secrets.APP_PUSH_TAG_PRIVATE_KEY }}

      - name: Release Please
        id: github_release
        uses: googleapis/release-please-action@v4
        with:
          release-type: go
          token: ${{ steps.generate-token.outputs.token }}

